

body{
    /* background: url('/images/img.png'); */
    background-repeat: no-repeat;
    background-size: 800px;
    background-position: center;
    background-attachment: fixed;
}

.h-100 {
    height: 100%;   
}